@use '../utils/utils' as *;

body {
  background-color: $backgroundColor;
  margin: 0;
}
h1 {
  @include font-title(3rem);
  text-align: center;
  padding: 2rem;
}
h2 {
  @include font-title(1.2rem);
}
p {
  @include font();
}
li {
  list-style: none;
}
